.fd-container {
  background-color: aliceblue;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 40px 1fr;
}
.fd-container .fd-taskpad {
  grid-column: 2;
  grid-row: 2;
  background-color: antiquewhite;
}
.fd-container .fd-toolbar {
  grid-column: 1 / span 2;
  grid-row: 1;
  background-color: aquamarine;
}
.fd-container ul.fd-tabbar {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.fd-container ul.fd-tabbar li {
  list-style-type: none;
  padding: 6px 12px;
  background-color: lightblue;
  cursor: pointer;
}
.fd-container ul.fd-tabbar li.active {
  background-color: blue;
  color: white;
}
.fd-container .fd-body {
  grid-column: 1;
  grid-row: 2;
  background-color: lemonchiffon;
}
.fd-container .fd-elem-grid {
  display: grid;
  grid-template-columns: 220px 220px;
  grid-gap: 10px;
}