.fd-container {
  box-sizing: border-box;
  background-color: aliceblue;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 40px 1fr;
}
.fd-container .line {
  padding: 8px 0;
}
.fd-container .line hr {
  border: 0;
  background-color: #ccc;
  height: 2px;
}
.fd-container .selected {
  outline: 1px dotted blue !important;
  z-index: 10;
  box-shadow: 0 0 4px blue !important;
  position: relative;
}
.fd-container .selected:not(.handle):after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  width: 8px;
  height: 8px;
  background-color: white;
  border: 1px solid blue;
  z-index: 11;
}
.fd-container .fd-taskpad {
  grid-column: 2;
  grid-row: 2;
  background-color: var(--bgPrimary);
  user-select: none;
}
.fd-container .fd-taskpad ul.fd-tabbar {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  background-color: var(--nav100);
}
.fd-container .fd-taskpad ul.fd-tabbar li {
  list-style-type: none;
  padding: 6px 12px;
  background-color: var(--neutral300);
  cursor: pointer;
}
.fd-container .fd-taskpad ul.fd-tabbar li.active {
  background-color: var(--bgPrimary);
}
.fd-container .fd-taskpad .fd-toolbox {
  padding: 10px;
  display: grid;
  grid-gap: 10px;
}
.fd-container .fd-taskpad .fd-toolbox details summary {
  color: firebrick;
  font-size: 110%;
}
.fd-container .fd-taskpad .fd-toolbox details ul {
  margin: 10px 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.fd-container .fd-taskpad .fd-toolbox details ul li.fd-tbox-item {
  list-style-type: none;
  display: inline-flex;
  padding: 8px;
  background-color: white;
  cursor: default;
  gap: 6px;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.fd-container .fd-taskpad .fd-toolbox details ul li.fd-tbox-item .ico {
  color: #999;
}
.fd-container .fd-toolbar {
  grid-column: 1 / span 2;
  grid-row: 1;
  background-color: aquamarine;
}
.fd-container .fd-propsheet {
  width: 100%;
}
.fd-container .fd-propsheet table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #ddd;
}
.fd-container .fd-propsheet table tr {
  border-bottom: 1px solid #ddd;
}
.fd-container .fd-propsheet table tr td input,
.fd-container .fd-propsheet table tr td select {
  width: 100%;
  height: 1.8em;
}
.fd-container .fd-propsheet table tr td:first-child {
  width: 30%;
  border-right: 1px solid #ddd;
  border-left: 16px solid #ddd;
  padding: 0 6px;
}
.fd-container .fd-main {
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-row: 2;
  grid-column: 1;
  padding: 1rem;
  background-color: #aaa;
}
.fd-container .fd-page-taskpad {
  grid-column: 2;
}
.fd-container .fd-body {
  grid-column: 1;
  grid-row: 1;
  background-color: var(--bgPrimary);
  display: flex;
  flex-direction: column;
  overflow: visible;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  margin: auto;
}
.fd-container .fd-body.page {
  width: 100%;
  height: 100%;
}
.fd-container .fd-elem-grid {
  display: grid;
  grid-gap: 0.5rem 1rem;
}
.fd-container .fd-elem-grid .fd-grid-ph {
  border: 1px dotted #d0d0d0;
  background-color: var(--bgPrimary);
  min-height: 28px;
  min-width: 20px;
}
.fd-container .fd-elem-grid .fd-grid-ph.hover {
  background-color: #f1f1f1;
  border: 1px solid firebrick;
}
.fd-container .fd-elem-grid .fd-grid-item {
  background-color: var(--bgPrimary);
  border: 1px solid transparent;
  min-height: 28px;
  position: relative;
}
.fd-container .fd-elem-grid .fd-grid-item > label {
  line-height: 2em;
}
.fd-container .fd-elem-grid .fd-grid-item .handle {
  position: absolute;
  width: 8px;
  height: 100%;
  left: -8px;
  top: 0;
  background: radial-gradient(circle at 1px 1px, #ccc 1px, transparent 0);
  background-size: 4px 4px;
  z-index: 9;
}
.fd-container .fd-elem-grid .fd-grid-item .form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 0.2em;
}
.fd-container .fd-elem-grid .fd-grid-item .form-group label {
  font-size: 90%;
}
.fd-container .fd-elem-grid .fd-grid-item .form-group .input-group {
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  line-height: 2;
  height: 2em;
  padding: 0 5px;
}
.fd-container .fd-elem-grid .fd-grid-item .fd-datagrid {
  min-height: 80px;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid var(--neutral300);
  border-radius: 4px;
  position: relative;
}
.fd-container .fd-elem-grid .fd-grid-item .fd-datagrid .fd-datagrid-column {
  width: 100%;
}
.fd-container .fd-elem-grid .fd-grid-item .fd-datagrid .fd-datagrid-column .label {
  background-color: var(--table-header-bg);
  line-height: 2em;
  padding: 0 10px;
  border-bottom: 1px solid var(--neutral300);
}
.fd-container .fd-elem-grid .fd-grid-item .fd-datagrid .fd-datagrid-column .column {
  line-height: 2em;
  padding: 0 10px;
  background-color: white;
  border-bottom: 1px solid var(--neutral300);
}
.fd-container .fd-elem-grid .fd-grid-item .fd-itm-toolbar {
  height: 100%;
  display: flex;
  gap: 5px;
}
.fd-container .fd-elem-grid .fd-grid-item .fd-itm-toolbar button {
  height: 100%;
}
.fd-container .fd-elem-grid .fd-grid-item .btn-tb {
  outline-offset: 0;
}
.fd-container .fd-elem-grid .fd-grid-item .btn-tb:hover {
  box-shadow: none;
  outline: 0;
  transition: none;
}